   {% load render_partial %}
   <!-- Footer Section Begin -->
   <footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="./index.html"><img src="{{media_url}}/img/logo.png" alt=""></a>
                    </div>
                    <ul>
                        <li>ادرس: تهران خیابان ولی عصر</li>
                        <li>تلفن: 021 11 188 888</li>
                        <li>info@myshop.com :ایمیل</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <h6>لینک های کاربردی</h6>
                    <ul>
                        <li><a href="#">درباره ما</a></li>
                        <li><a href="#">درباره فروشگاه</a></li>
                        <li><a href="#">خرید امن</a></li>
                        <li><a href="#">نحوه ارسال</a></li>
                        <li><a href="#">قوانین و مقررات</a></li>
                        <li><a href="#">ساعات کاری</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">ما کیستیم</a></li>
                        <li><a href="#">خدمات ما</a></li>
                        <li><a href="#">پروژه ها</a></li>
                        <li><a href="#">تماس با ما</a></li>
                        <li><a href="#">نوآوری</a></li>
                        <li><a href="#">نظر مشتریان</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>عضویت در خبرنامه</h6>
                    <p>برای اگاهی از تحفیفات و محصولات جدید ایمیل خود را وارد کنید</p>
                        {% render_partial "accounts:newsletter" %}
                    <div class="footer__widget__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                    <div class="footer__copyright__payment"><img src="{{media_url}}/img/payment-item.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->