{% extends 'main_template.html' %}

{% block title %}بازیابی رمز عبور{%endblock title %}

{% block content %}

<section class="checkout spad" style="text-align: center;" dir="rtl">
    <div class="container">
        <div class="checkout__form"  style="text-align: right;">
            <h4>بازیابی گذرواژه</h4>
            <form action="" method="post">
                <div class="row">
                    <div class="col-lg-8 col-md-6" >
                        <div class="row">
                            <div class="col-lg-6" style="margin:auto;">
                                {% csrf_token %}
                                {{form.as_p}}
                                <button type="submit" class="site-btn">ارسال</button>
                            </div>      
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock content %}
