{% if products %}
    <div class="container">
        <h3 style="text-align:center; color:red">کالاهای انتخابی برای مقایسه</h3>
        <table class="table table-bordered">
            <tr style="background:#f1f1f1; text-align:center;">
                <th>ویژگی کالا/کالا</th>
                {% for product in products in  %}
                <th>
                    <i class="fa fa-times product-remove"  onclick="deleteFromCompareList({{product.id}})"></i>
                    {{product.product_name}}
                </th>
                {% endfor %}
            </tr>
            {% for feature in features %}
                <tr>
                    <td style="font-size:1.2rem; font-weight:900; width:25%">
                        {{feature}}
                    </td>
                    {% for product in products %}
                        <td style="text-align:center;">
                            {% for item in product.features_of_product.all  %}
                                {% if item.feature == feature %}
                                    <span style="margin:5px">{{item.filter_value.value_title}}</span>
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% else %}
    <div class="container">
        <h2 style="text-align:center; color:red; padding:100px">کالایی برای مقایسه وجود ندارد</h2>
    </div>
{% endif %}