{% extends 'main_template.html' %}
{% load humanize %}

{% block title %}همه محصولات{% endblock title %}

{% block content %}
   <!-- Product Section Begin -->
   <section class="product spad">
    <div class="container">
        <div class="row">
            <div  style="padding-bottom:20px;margin-bottom:20px;margin:auto"><h3 style="color:green">دسته های محصولات</h3>  </div> 
            <div class="col-lg-10 col-md-12">              
                <div class="row">
                    {% for group in groups %}
                    <div class="col-lg-4 col-md-6 col-sm-6">                
                        <div class="product__item">                           
                            <div class="product__item__pic set-bg" data-setbg="{{media_url}}{{group.image_name}}"></div>                           
                            <div class="product__item__text">
                                <h6><a href="{% url 'products:all_products' slug=group.slug %}">{{group.group_name}}</a></h6>
                                <h5 dir="rtl"> {{group.count}} محصول</h5>
                            </div>
                        </div>
                    </div> 
                    {% endfor %}
                </div>
                <div style="text-align:center" class="product__pagination">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
{% endblock content %}