{% load static %}
<!DOCTYPE html>
<html lang="fa_IR" >

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ogani|{% block title %}{% endblock title %}</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %} " type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %} " type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %} " type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %} " type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %} " type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %} " type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/customstyle.css' %}" type="text/css">
    {% comment %} <link rel="stylesheet" href="{% static 'css/accordion.css' %}" type="text/css"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/review.css' %}" type="text/css"> {% endcomment %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/FortAwesome/Font-Awesome@5.15.3/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> 

</head>
<body>
    {% include "partials/preloader.html" %}
    {% include "partials/header.html" %}
    {% include "partials/messages.html" %}
    {% include "partials/vertical_navbar.html" %}
    
    {% block content %}{% endblock content %}
    {% include 'partials/footer.html' %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %} "></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %} "></script>
    <script src="{% static 'js/mixitup.min.js' %} "></script>
    <script src="{% static 'js/owl.carousel.min.js' %} "></script>
    <script src="{% static 'js/main.js' %} "></script>
    <script src="{% static 'js/myScripsts.js' %} "></script>


</body>